<!DOCTYPE html>

  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  </head>
<body>
<div>
<h1><center>SHRD</center></h1>
    <div class="ct-chart ct-perfect-fourth" id="chart1"></div>
<h1><center>traceability</center></h1>
    <center><div class="ct-chart ct-perfect-fourth" id="chart2"></div></center>
</div>

<script>

    var getData = $.get('/data');

    getData.done(function(results) {
    var data = {

      labels: results.cw,

      series: [{
        name: 'series-1',
        data: results.results},
        {
        name: 'series-2',
        data: results.sss
        }
        ]

    };

    var options = {

    height: 400
    }


    var myChart = new Chartist.Line('#chart1', data, options);

    var myChart = new Chartist.Line('#chart2', data, options);
});

</script>






</body>
</html>