{% extends "partials/_one_column.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
  <div class="form-group">
      {{ form.username.label }}
      {{ form.username (class="form-control") }}
  </div>

  <div class="form-group">
      {{ form.password.label }}
      {{ form.password (class="form-control", placeholder="password") }}
  </div>
  <div class="form-group">
      {{ form.remember_me.label }}
      {{ form.remember_me (class="form-control", placeholder="remember me") }}
  </div>
    {{ form.submit(class="btn btn-dark") }}
</form>
{% endblock %}