{% extends "partials/_three_column.html" %}
{% from "macros/form_field_macros.html" import render_field %}
<center> Project status   </center>
{% block lside %}
<h3>
Filter Issues:
</h3>



{% with enctype = True %}
        {% with form = filter_form %}
         {% include 'partials/_form.html' %}

        {% endwith %}
    {% endwith %}



<li>Project Name: {{ project.name }}</li>
<li>Start Date: {{ project.start_date }}</li>
<li>End Date: {{ project.end_date }}</li>
<li>Gate 1: {{ project.gate_1 }}</li>
<li>Gate 2 {{ project.gate_2 }}</li>
<li>Gate 3: {{ project.gate_3 }}</li>
<li>Gate 4: {{ project.gate_4 }}</li>
<li>Start of production: {{ project.sop }}</li>
<li>Spice Level: {{ project.spice_level }}</li>
{% endblock %}


{% block main_content %}
    <div class="row my-5 card-wrapper test">
        {% if issues %}
            {% for issue in issues  %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        {% include 'partials/_issue_card.html' %}
                    </div>
                </div>
             {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block rside %}
<h3>Create Issue</h3>
     {% with enctype = True %}
        {% with form = issue_form %}
         {% include 'partials/_form.html' %}

        {% endwith %}
    {% endwith %}




{% endblock %}