{% extends "partials/_three_column.html" %}
{% from "macros/form_field_macros.html" import render_field %}
<center> Project status   </center>
{% block lside %}
<h2>

</h2>

<li>Project Name: {{ project.name }}</li>
<li>Start Date: {{ project.start_date }}</li>
<li>End Date: {{ project.end_date }}</li>
<li>Gate 1: {{ project.gate_1 }}</li>
<li>Gate 2 {{ project.gate_2 }}</li>
<li>Gate 3: {{ project.gate_3 }}</li>
<li>Gate 4: {{ project.gate_4 }}</li>
<li>Start of production: {{ project.sop }}</li>
<li>Spice Level: {{ project.spice_level }}</li>

{% endblock %}


{% block main_content %}

<table>
    <tr>
        Issue type low
        <td>
            {% for item in low %}
            <li>{{ item.date }}{{ item.description }}{{ item.status }} <a href="{{url_for('main.edit', issue_id=item.id)}}">EDIT</a></li>
            {% endfor %}
        </td>
    </tr>

</table>
<table>
    <tr>
        Issue type mid
        <td>
            {% for item in mid %}
            <li>{{ item.date }}{{ item.description }}{{ item.status }} <a href="{{url_for('main.edit', issue_id=item.id)}}">EDIT</a></li>
            {% endfor %}
        </td>
    </tr>

</table>
<table>
    <tr>
        Issue type high
        <td>
            {% for item in high %}
            <li>{{ item.date }}{{ item.description }}{{ item.status }} <a href="{{url_for('main.edit', issue_id=item.id)}}">EDIT</a></li>
            {% endfor %}
        </td>
    </tr>

</table>
<table>
    <tr>
        Issue type escalated
        <td>
            {% for item in esca %}
            <li>{{ item.date }}{{ item.description }}{{ item.status }} <a href="{{url_for('main.edit', issue_id=item.id)}}">EDIT</a></li>
            {% endfor %}
        </td>
    </tr>

</table>
{% endblock %}

{% block rside %}

     {% with enctype = True %}

         {% include 'partials/_form.html' %}

    {% endwith %}




{% endblock %}