   <a href="{{ url_for('issue.edit', issue_id=issue.id ) }}" class="anchor-hidden">
    <div class="embed-responsive embed-responsive-16by9">
    <img src="{%if issue.severity=='Escalated' %}{{ url_for('static', filename='images/red_dot.JPG') }}{% elif issue.severity=='High'%} {{ url_for('static', filename='images/orange_dot.JPG') }}{% elif issue.severity=='Mid'%} {{ url_for('static', filename='images/yellow_dot.JPG') }}{% elif issue.severity=='Low'%} {{ url_for('static', filename='images/green_dot.JPG') }} {% endif %}" class="card-img-top embed-responsive-item" alt="...">
    </div>
      <div class="card-body">
        <h4 class="card-title">
          {{ issue.description }}
          </h4>


        <h5>{{ issue.status}}</h5>
        <p class="card-text">{{issue.severity}}</p>


    </div>
    <div class="card-footer">
      <small class="text-muted"> {{issue.link}} -> {{issue.date}}
      </small>
    </div>
      </a>
